@charset 'UTF-8';

@media screen and (min-width: 491px) and (max-width: 779px) {
    body{
        background: #3A00F5 url(../img/fundo-realista-de-luzes-de-neon_52683-59889.avif) center center no-repeat;
        background-size: cover;
    }

    section#login{
        width: 80vw;
        height: 65vh;
    }

    section#login > div#foto{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }

    h1{
        font-size: 2.2em;
    }

    p{
        font-size: 1.3em;
    }

    form{
        
        margin-top: 15%;
    }

    input{
        padding: 10px;
    }

    input#enviar{
        padding: 15px;
        margin-top: 40px;
        width: 110%;
    }
}

@media screen and (min-width:780px) {
    body{
        background:#3A00F5 url(../img/fundo-realista-de-luzes-de-neon_52683-59889.avif) center center no-repeat;
        background-size: cover;
    }
    
    section#login{
        width: 770px;
    }

    section#login > div#foto{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 50%;
    }

    h1{
        font-size: 2.3em;
    }

    p{
        font-size: 1.3em;
    }

    
    form{
        
        margin-top: 25%;
    }

    input{
        padding: 10px;
    }

    input#enviar{
        padding: 15px;
        margin-top: 80px;
    }
}